

<ion-content [fullscreen]="true">
  <div class="content-container">
    <div class="input-container">
      <ion-item>
        <ion-input placeholder="Correo electrónico" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>
  
    <div class="button-container">
      <ion-button color="danger" expand="block" (click)="onLoginButtonPressed()">Entrar</ion-button>
      <ion-button color="danger" expand="block" (click)="onRegisterButtonPressed()">Ir al Registro</ion-button>
    </div>
  </div>
</ion-content>