<ion-header>
  <ion-toolbar>
    <ion-title>Administración de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="user-management-background">
  <div class="user-form-container">
    <form (submit)="onSaveUser()">
      <ion-item class="input-item">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="userName" name="userName" required></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="userEmail" type="email" required></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit">Guardar Usuario</ion-button>
    </form>
  </div>

  <ion-list class="user-list-container">
    <ion-item *ngFor="let user of users" class="user-list-item">
      <ion-label>
        <h2>{{ user.userName }}</h2>
        <h3>{{ user.email }}</h3>
      </ion-label>
      <ion-button color="primary" (click)="onEditUser(user)">Editar</ion-button>
      <ion-button color="danger" (click)="onDeleteUser(user.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
