.user-management-background {
    --background: url('/assets/images/fondo.jpg') no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  

  ion-header {
    --background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    color: white;
  }
  
  .user-list-container {
    background: transparent; 
  }
  
  .user-list-item {
    --background: rgba(255, 255, 255, 0.3);
    --border-radius: 10px;
    margin: 8px 0;
    padding: 10px;
  }
  
  .input-item {
    --background: rgba(255, 255, 255, 0.3);
    --box-shadow: none;
    --border-radius: 10px;
    margin-bottom: 15px;
  }
  
  ion-button {
    --background: #640101;
    --color: white;
    --border-radius: 10px;
    margin-top: 10px;
  }
  