
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  button {
    width: 80%;
    max-width: 300px;
    margin: 10px 0; 
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #440101;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

/* styles.css */
body {
    background-color: #E22227;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  ion-content {
    --background: #E22227;
  }
  
  
  ion-title{
    background-color: #E22227;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }