/* Estilos generales para ion-content */
ion-content {
  --background: url('/assets/images/fondo.jpg');
  --padding-bottom: 70px; /* Asegura que el contenido no se oculte detrás de los tabs */
  height: calc(100vh - 56px); /* Ajusta la altura para permitir desplazamiento */
  overflow-y: scroll; /* Permite desplazamiento vertical */
  position: relative; /* Garantiza que el contenido sea desplazable */
}

/* Estilos para ion-card */
ion-card {
  width: 80vw;
  max-width: 180px;
  height: auto;
  min-height: 250px;
  max-height: 300px;
  --background: #440101;
  --box-shadow: 0 4px 8px rgba(13, 102, 1, 0.1);
  --border-radius: 20px;
  --padding: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

/* Otros estilos de ion-card */
ion-card-title, ion-card-subtitle, ion-card-content {
  color: #ffffff;
}

ion-card img {
  border-radius: 20px;
  max-height: 120px;
  width: 100%;
  object-fit: cover;
}

/* Estilos para los botones de logout */
ion-buttons {
  padding: 10px;
}

/* Estilos de la barra de herramientas */
ion-toolbar {
  background-color: #E22227;
}

ion-title {
  color: #fff;
}

/* Asegura que el contenido de la tarjeta se adapte bien */
.card-container {
  flex: 0 1 30%; /* Ajusta el ancho de cada tarjeta al 30% del contenedor */
  max-width: 300px; /* Ancho máximo para cada tarjeta */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Múltiples columnas adaptables */
  gap: 50px; /* Espacio entre tarjetas */
}

.card-container {
  width: 100%; /* Asegura que cada tarjeta ocupe el ancho completo de la columna */
}
