<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Savor Space</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSignOutButtonPressed()">
        <ion-icon>
          <img src="assets/images/salida.png" alt="Cerrar Sesión" style="width: 24px; height: 24px;" />
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    <p class="user-info">Bienvenido a Savor Space</p>

    <!-- Sección dinámica -->
    <ion-grid class="grid-container">
      <ion-row>
        <ion-col *ngFor="let receta of recetas" size="12" size-md="6" size-lg="4">
          <ion-card class="custom-card">
            <img [src]="receta.imageUrl" alt="Imagen de la receta" />
            <ion-card-header>
              <ion-card-title>{{ receta.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ receta.description }}
            </ion-card-content>
            <ion-button class="delete-button" color="danger" (click)="eliminarReceta(receta.id)">
              Eliminar
            </ion-button>
            <ion-button class="more-button" color="primary" (click)="ondetailButtonPressed()">
              Detalles
            </ion-button>
          </ion-card>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="recipe" (click)="onRecipeButtonPressed()">
      <ion-icon name="pizza-outline"></ion-icon>
      Recetas
    </ion-tab-button>
    <ion-tab-button tab="profile" (click)="onProfileButtonPressed()">
      <ion-icon name="person-outline"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>