<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Savor Space</ion-title>
    <!-- Botón de cerrar sesión al lado del título como imagen -->
    <ion-buttons slot="end">
      <ion-button (click)="onLogoutButtonPressed()">
        <ion-icon>
          <img src="assets/images/salida.png" alt="Cerrar Sesión" style="width: 24px; height: 24px;" />
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    <p class="user-info">Bienvenido {{ nombreUsuario }}!!!</p>

    <div class="grid-container">
      <div class="card-container">
        <ion-card>
          <img alt="Tacos" src="assets/images/taquitos.webp" />
          <ion-card-header>
            <ion-card-title>Tacos</ion-card-title>
            <ion-card-subtitle>Receta recomendada</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Platillo Tradicional Mexicano, consiste en tortilla de maíz o harina rellena de diversos ingredientes.
          </ion-card-content>
        </ion-card>
      </div>
      <div class="card-container">
        <ion-card>
          <img alt="Cazuela" src="assets/images/cazuelacl.jpg" />
          <ion-card-header>
            <ion-card-title>Cazuela</ion-card-title>
            <ion-card-subtitle>Receta recomendada</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Plato típico de Chile, hecho con cualquier tipo de carne y verduras, tal como zapallo, choclo, papa.
          </ion-card-content>
        </ion-card>
      </div>
      <div class="card-container">
        <ion-card>
          <img alt="Pollo Arvejado" src="assets/images/polloarverjado.jpg" />
          <ion-card-header>
            <ion-card-title>Pollo Arvejado</ion-card-title>
            <ion-card-subtitle>Receta destacada</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Guiso típico de Chile elaborado con pollo y arvejas como ingredientes principales.
          </ion-card-content>
        </ion-card>
      </div>
      <div class="card-container">
        <ion-card>
          <img alt="Empanadas" src="assets/images/Empanada.jpg" />
          <ion-card-header>
            <ion-card-title>Empanadas</ion-card-title>
            <ion-card-subtitle>Receta destacada</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Aquí va una pequeña descripción del contenido de la tarjeta.
          </ion-card-content>
        </ion-card>
      </div>
      <div class="card-container">
        <ion-card>
          <img alt="Niños Envueltos" src="assets/images/niñosenvueltos.jpg" />
          <ion-card-header>
            <ion-card-title>Niños Envueltos</ion-card-title>
            <ion-card-subtitle>Receta destacada</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Carne con arroz envueltos en hojas de parra.
          </ion-card-content>
        </ion-card>
      </div>
      <div class="card-container">
        <ion-card>
          <img alt="Pizza" src="assets/images/pizza.jpeg" />
          <ion-card-header>
            <ion-card-title>Empanadas</ion-card-title>
            <ion-card-subtitle>Receta destacada</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Aquí va una pequeña descripción del contenido de la tarjeta.
          </ion-card-content>
        </ion-card>
      </div>
      <!-- Agrega más tarjetas según sea necesario -->
    </div>
  </div>
</ion-content>
