<ion-header>
</ion-header>

<ion-content class="register-background">
  
  <div class="register-container">
    <form (ngSubmit)="onRegisterButtonPressed()">
      
      <!-- Campo para el nombre de usuario -->
      <ion-item class="input-item">
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input [(ngModel)]="user" name="user" type="text" required></ion-input>
      </ion-item>

      <!-- Campo para el correo electrónico -->
      <ion-item class="input-item">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
      </ion-item>

      <!-- Campo para la contraseña -->
      <ion-item class="input-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
      </ion-item>

      <!-- Campo para confirmar la contraseña -->
      <ion-item class="input-item">
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required></ion-input>
      </ion-item>

      <!-- Botón de registrar -->
      <ion-button expand="full" type="submit">Registrarse</ion-button>
      
      <!-- Enlace para iniciar sesión -->
      <div class="login-link">
        <p>¿Ya tienes cuenta? <a (click)="onLoginButtonPressed()">Inicia sesión aquí</a></p>
      </div>
    </form>
  </div>
</ion-content>
