/* Fondo de la página de registro */
.register-background {
  --background: url('/assets/images/fondo.jpg');
}

/* Centrar el contenido */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; /* Asegura que ocupe toda la altura */
  padding: 0 20px; /* Espacio en los lados */
}

/* Estilo de los campos del formulario */
.input-item {
  --background: rgba(255, 255, 255, 0.3); /* Fondo blanco translúcido */
  --box-shadow: none; /* Sin sombra */
  --border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 20px; /* Espacio entre campos */
}

/* Estilo para el botón */
ion-button {
  margin-top: 20px;
  --background: #640101; /* Fondo azul */
  --color: white; /* Texto blanco */
  --border-radius: 10px; /* Bordes redondeados */
}

/* Estilo para el enlace de iniciar sesión */
.login-link {
  text-align: center;
  margin-top: 20px;
}
ion-header {
  --background: rgba(255, 6, 6, 0.5); /* Si deseas una capa semi-transparente en el encabezado */
  color: white; /* Si deseas que el texto del header sea blanco */
}

ion-toolbar {
  background-color: rgb(226, 43, 43);
}

ion-title {
  color: white; /* Cambiar el color del título del header */
}

