<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="agregarReceta()">
    <ion-item>
      <ion-label position="floating">Nombre de la receta</ion-label>
      <ion-input [(ngModel)]="receta.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ingredientes</ion-label>
      <ion-input [(ngModel)]="receta.ingredientes" name="ingredientes" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Preparación</ion-label>
      <ion-input [(ngModel)]="receta.preparacion" name="preparacion" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="receta.descripcion" name="descripcion" required></ion-input>
    </ion-item>

    <!-- Botón para seleccionar foto con Action Sheet -->
    <ion-item>
      <ion-label>Foto</ion-label>
      <ion-button (click)="seleccionarImagen()">
        <ion-icon name="camera-outline"></ion-icon>
        Añadir Imagen
      </ion-button>
    </ion-item>

    <!-- Mostrar imagen seleccionada -->
    <ion-item *ngIf="receta.imagen">
      <ion-img [src]="receta.imagen"></ion-img>
    </ion-item>

    <ion-button expand="full" type="submit">Agregar Receta</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline" (click)="onHomeButtonPressed()"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="recipe" (click)="onRecipeButtonPressed()">
      <ion-icon name="pizza-outline"></ion-icon>
      Recetas
    </ion-tab-button>
    <ion-tab-button tab="profile" (click)="onProfileButtonPressed()">
      <ion-icon name="person-outline"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>